@model IEnumerable<FYP_UOS_2022.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Student_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student_Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student_Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Class.Class_Name)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Student_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student_Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student_Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Class.Class_Name)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Student_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Student_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Student_id })
        </td>
    </tr>
}

</table>
