@model FYP_UOS_2022.Models.Examcell

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Examcell</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Examcell_Uniqueid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Examcell_Uniqueid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Examcellpassword)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Examcellpassword)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Examcell_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Examcell_Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Examcell_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
